li {
    list-style-type: none;
}

.container {
    border: 1px solid #aaa7a7 !important;
    padding: 1rem 1.5rem;
    margin-bottom: 1rem;
    border-radius: 15px;
    box-shadow: rgba(204, 202, 202, 0.2) 0px 2px 8px 0px;
}

.name {
    color: #282828;
    font-weight: 500;
    font-size: 1.1rem;
}

.justification {
    color: #afabab;
    font-weight: 500;
    margin-top: 0 !important;
}

strong {
    color: #6e6d6d;
    width: 100%;
    display: block;
}

.paragraph {
    color: var(--paragraph);
}

.paragraphContainer {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
}

.icon {
    margin-right: .25rem;
    margin-bottom: 0;
}

.header {
    display: flex;
}

.name {
    width: 97%;
    color: var(--nameUs);
}

.points {
    background-color: black;
    color: white;
    font-weight: 500;
    border-radius: 50%;
    width: 35px;
    height: 35px;
    margin: 0;
    text-align: center;
    padding-top: .25rem;
    margin-right: -.75rem;
    margin-top: -.15rem;
}

.responsible {
    text-decoration: underline;
    margin-left: .25rem;
    font-weight: 500;
}

.bubble {
    background-color: var(--responsible);
    border-radius: 15px;
    padding: 5px 10px;
}